//---------------------Films---------------------
.single-film{

    .attachment-post-thumbnail{
        max-width: 900px;
        height:auto;
    }
    .main-img{
        margin-bottom:6rem;
    }
}
